<ProgramInfo>
  <RequiredInfo>
    <FriendlyName>AVF Plugin_5.04.00.455</FriendlyName>
    <SystemName>SimplSharpFramework.ControlSystem</SystemName>
    <EntryPoint>SimplSharpFramework.ControlSystem</EntryPoint>
    <MinFirmwareVersion>1.009.0029</MinFirmwareVersion>
    <ProgramTool>SIMPL# Plugin</ProgramTool>
    <DesignToolId>5</DesignToolId>
    <ProgramToolId>5</ProgramToolId>
    <ArchiveName />
  </RequiredInfo>
  <OptionalInfo>
    <CompiledOn>03/28/2018 11:38</CompiledOn>
    <CompilerRev>5.04.00.455</CompilerRev>
	<ShipwithProgram>true</ShipwithProgram>
  </OptionalInfo>
  <Plugin>
    <Version>Crestron.SIMPLSharp, Version=2.0.31.0, Culture=neutral, PublicKeyToken=812d080f93e2de10</Version>
    <Include4.dat />
  </Plugin>
</ProgramInfo>
